@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* ===== Colors ===== */
  --body-color: #e4e9f7;
  --nav-color: rgba(100, 150, 200, 0.25);
  --sidebar-color: rgba(255, 255, 255, 0.5);
  --primary-color: rgba(0, 40, 80, 0.9);
  --primary-color-light: rgba(255, 255, 255);
  --toggle-color: #ddd;
  --text-color: rgb(8, 0, 80);
  --text-hover-shadow: rgba(80, 0, 0, 0.5);
  --text-hover-color: rgb(80, 0, 0);
  --text-highlight-light: rgba(0, 0, 80, 0.75);
  --text-highlight-dark: rgba(150, 0, 0, 0.75);
  --text-border-dark: rgba(100, 0, 0, 0.75);
  --bgimage-light-color: rgba(225, 225, 255, 0.5);
  --bgimage-dark-color: rgba(0, 0, 80, 0.75);
  --btn-color-light: #03001fb0;
  --btn-col: rgb(8, 0, 80);
  --text-hover-2: rgba(8, 0, 80, 0.75);
  --btn-txt-col: white;
  --btn-bg-col: rgba(175, 225, 255, 0.25);
  --btn-txt-hov-col: rgba(0, 40, 80);
  --btn-txt-hov-col-2: rgb(85, 0, 0);
  --btn-bg-hov-col: rgba(255, 255, 255, 0.75);
  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body {
  height: 75vh;
  transition: var(--tran-05);
  /* background-image: linear-gradient(
      var(--bgimage-light-color),
      var(--bgimage-dark-color)
    ),
    url(images/bg.jpg); */
  background-position: center;
  background-size: cover;
  align-items: center;
  background-repeat: no-repeat;
  text-align: center;
  background-color: var(--body-color);
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

body.dark {
  --body-color: rgb(209, 191, 173);
  --nav-color: rgba(175, 125, 75, 0.75);
  --sidebar-color: rgba(255, 255, 255, 0.75);
  --primary-color: rgb(175, 125, 75);
  --primary-color-light: rgba(170, 170, 170);
  --toggle-color: rgba(255, 255, 255, 0.5);
  --text-color: rgb(100, 50, 0);
  --toggle-color: rgba(175, 125, 75);
  --text-hover-shadow: rgba(238, 233, 224, 0.25);
  --text-hover-color: rgb(225, 220, 215);
  --text-highlight-light: rgb(175, 125, 75);
  --text-highlight-dark: rgba(0, 0, 80, 0.75);
  --bgimage-light-color: rgba(0, 0, 0, 0.1);
  --bgimage-dark-color: rgba(0, 0, 0, 0.75);
  --btn-color-light: #ffffff;
  --btn-col: rgba(200, 200, 200, 0.75);
  --text-hover-2: rgba(85, 0, 0, 0.5);
  --btn-txt-col: rgb(185, 125, 30);
  --btn-bg-col: rgba(255, 225, 150, 0.25);
  --btn-txt-hov-col: rgba(0, 40, 80);
  --btn-txt-hov-col-2: rgb(85, 0, 0);
  --btn-bg-hov-col: rgb(215, 210, 200);
}
#lg {
  height: 65px;
  width: 130px;
  cursor: pointer;
  padding-right: 10px;
}
.nav1 {
  align-items: center;
  padding-left: 150px;
  position: fixed;
  /* background-color: rgb(165, 44, 44); */
}
.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px 10px;
  align-items: center;
  background-color: var(--nav-color);
}
.topbar .nav1 ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-right: 480px;
}
.topbar .nav1 ul li {
  list-style: none;
  margin-left: 20px;
}
.topbar .nav1 ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 600;
  transform-style: preserve-3d;
  transition: 0.75s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.topbar .nav1 ul li a:hover {
  /* background-color: var(--primary-color-light); */
  color: var(--text-hover-color);
  transform: translateY(-0.25em);
  box-shadow: 0 0.5em 0.5em -0.4em var(--text-hover-shadow);
}
.topbar .nav1 ul .prf1 a {
  color: var(--text-highlight-dark);
}
.topbar .nav1 ul .prf1 a:hover {
  color: var(--text-hover-2);
  box-shadow: 0 0.5em 0.5em -0.4em var(--text-hover-2);
}
#wp {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
nav .nav2 ul {
  display: flex;
  justify-content: end;
  align-items: flex-end;
}
nav .nav2 ul li {
  list-style: none;
  margin-left: 10px;
}
nav .nav2 ul li a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 600;
  transform-style: preserve-3d;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
nav .nav2 ul .login1 a:hover {
  box-shadow: 0 0.5em 0.5em -0.4em var(--text-highlight-light);
  /* background-color: var(--primary-color-light); */
  transform: translateY(-0.25em);
  color: var(--text-highlight-dark);
  transform-style: preserve-3d;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
nav .nav2 ul .contact1 a:hover {
  box-shadow: 0 0.5em 0.5em -0.4em var(--text-hover-2);
  transform: translateY(-0.25em);
  color: var(--text-highlight-dark);
  transform-style: preserve-3d;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
nav .nav2 ul .wp-c a {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
/*==Dropdown menu==*/
.dropdown {
  background-color: var(--sidebar-color);
}
.dropdown .drop1 {
  margin-left: 700px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px 10px;
  align-items: center;
}
.dropdown .drop1 ul {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.dropdown .drop1 ul li {
  list-style: none;
  margin-left: 10px;
  margin-bottom: 5px;
}
.dropdown .drop1 ul li a {
  padding: 4px;
  text-decoration: none;
  color: var(--text-highlight-dark);
  font-size: 14px;
  font-weight: 600;
  transform-style: preserve-3d;
  transition: 0.3s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.dropdown .drop1 ul li a:hover {
  color: var(--text-hover-2);
  transform: translateY(-0.25em);
  box-shadow: 0 0.5em 0.5em -0.4em var(--text-hover-2);
}
/*=====Sidebar=====*/
.sidebar {
  position: fixed;
  top: 115px;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
}
.sidebar.close {
  width: 88px;
}
/* ===== Reusable code - Here ===== */
.sidebar li {
  height: 45px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}
.sidebar .text {
  font-size: 16px;
  font-weight: 450;
  white-space: nowrap;
  opacity: 1;
}
.sidebar.close .text {
  opacity: 0;
}
/* =========================== */

.sidebar header {
  position: relative;
}
.sidebar header .image-text {
  display: flex;
  align-items: center;
}
.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}
header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}
header .image-text .profession {
  font-size: 14px;
  margin-top: -5px;
  display: block;
  color: var(--text-hover-shadow);
  font-weight: 500;
}
.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar header .image img {
  width: 40px;
  border-radius: 6px;
}
.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--text-highlight-light);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
  color: var(--text-color);
}

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
  margin-top: 5px;
}

.sidebar li.search-box {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar li.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-05);
}
.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover {
  background-color: var(--text-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--primary-color);
}

.sidebar .menu-bar {
  height: calc(100% - 165px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar {
  display: none;
}
.sidebar .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
  height: 45px;
  width: 60px;
}

.mode .sun-moon i {
  /* background:  var(--btn-color-light); */
  position: absolute;
}
.mode .sun-moon i.sun {
  opacity: 0;
}
body.dark .mode .sun-moon i.sun {
  opacity: 1;
}
body.dark .mode .sun-moon i.moon {
  opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
  /* background-color:var(--text-hover-color); */
}
.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: whitesmoke;
  transition: var(--tran-05);
}
body.dark .toggle-switch .switch {
  background-color: var(--btn-color-light);
}

.switch::before {
  content: "";
  position: absolute;
  height: 17.5px;
  width: 17.5px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--bgimage-dark-color);
  transition: var(--tran-04);
}

body.dark .switch::before {
  left: 20px;
  background-color: var(--body-color);
}
.page-link {
  text-align: left;
  padding-left: 100px;
  background-color: var(--body-color);
  padding-bottom: 10px;
}
.page-link a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 450;
}
.page-link a:hover {
  color: var(--btn-txt-hov-col-2);
}
* {
  margin: 0;
  padding: 0;
  text-indent: 0;
}
.top-container {
  max-width: 1400px;
  margin-left: 50px;
}
/* ---top content--- */
/* .sticky {
  position:fixed;
} */
.top-content ul {
  list-style-type: none;
  margin-left: 220px;
  padding: 0;
  overflow: hidden;
}
.top-content ul li {
  float: left;
  padding: 10px;
}
.top-content ul li a {
  display: flex;
  justify-content: left;
}
.top-content ul li a:hover {
  color: var(--btn-txt-hov-col);
}
h1 {
  color: black;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 24pt;
  margin-left: 350px;
  padding: 10px;
}
p {
  color: black;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 13pt;
  margin-left: 60pt;
  padding: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: left;
}
.p {
  color: black;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 13pt;
  padding-bottom: 7.5px;
  padding-top: 7.5px;
}
.a,
a {
  color: #0f47c3;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 13pt;
}
h2 {
  color: black;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 20pt;
  margin-left: 350px;
  padding: 10px;
}
h3 {
  color: black;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 14pt;
  padding-bottom: 7.5px;
  padding-top: 7.5px;
  margin-left: 45px;
}
table {
  margin-left: 200px;
  width: 800px;
}

.s1 {
  color: #0f47c3;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 13pt;
}
.s2 {
  color: #fff;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 13pt;
}
.s3 {
  color: #0f47c3;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 13pt;
}
.s4 {
  color: black;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 13pt;
}
.s5 {
  color: black;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 13pt;
}
li {
  display: block;
}
#l1 {
  padding-left: 0pt;
}
#l1 > li > *:first-child:before {
  content: " ";
  color: black;
  font-family: Symbol, serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 13pt;
}
li {
  display: block;
}
#l2 {
  padding-left: 0pt;
}
#l2 > li > *:first-child:before {
  content: " ";
  color: black;
  font-family: Symbol, serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 13pt;
}
table,
tbody {
  vertical-align: top;
  overflow: visible;
}
